* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    padding: 1rem;
}

h1 {
    padding: 1rem;
    color: #f1f1f1;
    font-size: 4rem;
    -webkit-text-stroke: 2px #1E88E5;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    user-select: none;
    cursor: pointer;
    border: none;
    border-radius: 0.25rem;
    transition: background-color 0.5s, color 0.5s, opacity 0.5s;
}

button .fa {
    transition: transform 0.5s;
}

button:hover .fa {
    transform: scale(1.2);
}

a {
    color: #1E88E5;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

textarea {
    padding: 0.5rem;
}

.hidden {
    display: none !important;
}

.spinner {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-left-color: #000;
    border-radius: 50%;
    animation: spinner 1s linear infinite;
}

@keyframes spinner {
    to { transform: rotate(360deg); }
}

#recordButton,
#sendTextButton {
    background-color: #2196F3;
}

#stopAudioButton {
    background-color: #FF9800;
}

#stopAudioButton:not(.playing) {
    opacity: 0.5;
}

#recordButton,
#stopAudioButton,
#sendTextButton {
    color: white;
    font-size: 1.5rem;
    height: 3rem;
    line-height: 3rem;
    margin: 0.25rem;
    width: 8rem;
    min-width: 3rem;
}

#recordButton.recording {
    background-color: #FF9800;
    color: #fff;
}

#recordButton.recording i {
    animation: pulse 1s infinite;
}

#recordButton:hover:not(.recording),
#sendTextButton:hover {
    background-color: #1E88E5;
}

#stopAudioButton:hover {
    background-color: #F57C00;
}

#messageList {
    list-style-type: none;
    width: 100%;
}

#messageList li {
    padding: 1rem;
    border-radius: 0.25rem;
}

#messageList li:nth-child(odd) {
    background-color: #f1f1f1;
}

#messageList li:nth-child(even) {
    background-color: #e0e0e0;
}

#messageList img {
    max-width: 75%;
}

#messageList .message {
    flex-direction: column;
}

#messageList .message .header {
    justify-content: space-between;
    margin-bottom: 0.5rem;
    width: 100%;
}

#messageList .message button {
    height: 2rem;
    width: 2rem;
    background: none;
    color: grey;
    line-height: 1.5rem;
    margin: 0 0.5rem;
    font-size: 1.5rem;
}

#messageList .message button:hover {
    color: black;
}

#messageList .message .contents,
#messageList #systemPrompt {
    display: block;
    text-align: justify;
    width: 100%;
}

#messageContainer {
    flex-direction: column;
    max-width: 1000px;
    margin: 0 auto;
}

.messageBox {
    opacity: 0;
    transition: opacity 0.5s;
    margin: 0 1rem;
}

.messageBox.show {
    opacity: 1;
}

#systemInput {
    width: 100%;
    resize: vertical;
    margin-top: 1rem;
}

#textInput {
    flex-grow: 1;
    height: 3rem;
    resize: vertical;
    margin: 0.25rem;
}

#logout,
#showOptions,
#buildTimeContainer {
    padding: 0.5rem 1rem;
}

#headerBar {
    padding: 1rem;
}

#controlBar {
    align-items: center;
    background-color: #F1F1F1;
    flex-wrap: wrap;
    padding: 1rem;
    width: 100%;
}

#textControls {
    flex-grow: 1;
}

@media (max-width: 600px) {
    #controlBar {
        flex-direction: column;
    }

    #micControls,
    #textControls {
        width: 100%;
    }

    #recordButton,
    #stopAudioButton {
        flex-grow: 1;
    }

    h1 {
        padding: 1rem;
        color: #1E88E5;
        font-size: 2rem;
        -webkit-text-stroke: 0;
    }
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
}

#promptButtonContainer {
    flex-wrap: wrap;
}

.promptButton {
    min-width: 8rem;
    padding: 0 1rem;
    height: 3rem;
    background-color: #F1F1F1;
    color: #000;
    line-height: 3rem;
    margin: 0.25rem;
    font-size: 1rem;
}

.promptButton:hover {
    background-color: #1E88E5;
    color: #fff;
}

.promptButton.selected {
    background-color: #2196F3;
    color: #fff;
}

.promptButton.selected:hover {
    background-color: #F1F1F1;
    color: #000;
}

footer {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 0.75rem;
    justify-content: center;
    margin: 1rem;
}

#optionsContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1000px;
    width: 100%;
}

#options {
    height: 5rem;
    resize: vertical;
    width: 100%;
}

#options.error {
    background-color: #f59490;
}

#optionsReveal {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

#optionsInstructions {
    border: 1px dashed grey;
    color: grey;
    padding: 0.5rem;
    text-align: left;
    width: 100%;
}

#forbiddenContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
