<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Whisper ChatGPT</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div id="headerBar">
        <a href="/">
            <h1>Whisper ChatGPT</h1>
        </a>
        <a id="logout" href="/logout">Logout</a>
    </div>

    <div id="galleryContainer">
        <!-- Rendered imageCard elements go here -->
    </div>

    <div id="templateLibrary" class="hidden">
        <div class="imageCard">
            <a><img></img></a>
        </div>
    </div>

    <script src="/common.js"></script>
    <script src="/gallery.js"></script>
</body>
</html>


