<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Whisper ChatGPT</title>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div id="headerBar">
        <h1>Whisper ChatGPT</h1>
        <a id="logout" href="/logout">Logout</a>
    </div>

    <div id="messageContainer">
        <div id="promptButtonContainer"></div>
        <ul id="messageList">
            <li>
                <b>system:</b>
                <span id="systemPrompt"></span>
                <textarea id="systemInput" rows="2" placeholder="(additional system instructions)"></textarea>
            </li>
        </ul>
        <div id="controlBar">
            <div id="micControls">
                <button id="recordButton"><i class="fas fa-microphone"></i></button>
                <button id="stopAudioButton"><i class="fas fa-stop"></i></button>
            </div>
            <div id="textControls">
                <textarea id="textInput" rows="2" placeholder="user:"></textarea>
                <button id="sendTextButton"><i class="fas fa-comment"></i></button>
            </div>
        </div>
    </div>

    <footer>
        <div id="optionsContainer">
            <a id="showOptions" href="#">Options</a>
            <div id="optionsReveal" class="hidden">
                <pre id="optionsInstructions">
"chatModel": "gpt-3.5-turbo" or "gpt-4"
"imageModel":
    for Dall-E: "dallE"
    for Replicate: "replicate"
    for StableDiffusion: "stableDiffusion"
    for StableDiffusion/Dreambooth: "dreambooth"
"imageModelId"
    for Dall-E: ignored
    for Replicate: "stableDiffusion_21_fast" or "stableDiffusion_21" or "latentDiffusion"
    for StableDiffusion: ignored
    for Dreambooth: see https://stablediffusionapi.com/models, try:
        - "midjourney"
        - "realistic-vision-v13" (with prompt enhancement!)
        - "anything-v3" or "wifu-diffusion" (anime)
        - "f222-diffusion"
"imageSize"
    for Dall-E: "256x256" or "512x512" or "1024x1024"
    for Replicate/StableDiffusion: "512x512" or "768x768"
    for Replicate/LatentDiffusion: ignored
    for StableDiffusion or Dreambooth: arbitrary sizes up to "768x1024" or "1024x768"
                </pre>
                <textarea id="options">
{
  "chatModel": "gpt-3.5-turbo",
  "imageModel": "stableDiffusion",
  "imageSize": "512x512",
  "imageModelId": "midjourney"
}
                </textarea>
            </div>
        </div>
        <p id="buildTimeContainer">Build time: <span id="buildTime"></span></p>
    </footer>

    <script src="/script.js"></script>
</body>
</html>


